@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Admin Home</title>
    <style>
        header {
            background-color: #333;
            height: 30px;
        }

            header a {
                color: #fff;
                text-decoration: none;
                font-weight: bold;
                font-size: 18.5px;
                margin: 0 10px;
            }

                header a:hover {
                    color: #e6ba73;
                }

        footer {
            background-color: #333;
            height: 30px;
            position: fixed;
            bottom: 0;
            width: 100%;
            color: white;
            text-align: center;
            line-height: 30px;
        }
    </style>
</head>
<body>

    <header>
        <a href="/AdminHome/Index">AdminPanel</a>
    </header>

    <footer>
        &copy; 2024 - Barber Shop
    </footer>

</body>
</html>