@model List<BarberLayered.Models.Barber>

<!DOCTYPE html>
<html>
<head>
    <title>Our barbers</title>

</head>
<body>

    @Html.Partial("~/Views/Barbers/BarbersPartial.cshtml", Model)

</body>
</html>
