@model BarberLayered.Models.ChangePasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зміна пароля</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f5f5f5;
        }

        .container {
            width: 400px;
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
            color: #333;
        }

        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }

        button[type="submit"] {
            width: 50%;
            padding: 10px 20px;
            background-color: #905B22;
            color: #fff;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 20px;
            transition: background-color 0.3s;
        }

        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }

        button[type="submit"]:hover {
            background-color: #f5a742;
        }

        .error-message {
            color: red;
            margin-top: 10px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>

    <div class="container">
        <h2 style="text-align: center;">Зміна пароля</h2>
        <form asp-controller="Account" asp-action="ChangePassword" method="post">
            <div class="form-group">
                <label for="currentPassword">Поточний пароль:</label>
                <input type="password" class="form-control" id="currentPassword" name="CurrentPassword" placeholder="Введіть поточний пароль" required>
            </div>
            <div class="form-group">
                <label for="newPassword">Новий пароль:</label>
                <input type="password" class="form-control" id="newPassword" name="NewPassword" placeholder="Введіть новий пароль" required>
                <div id="newPasswordError" class="error-message"></div>
            </div>
            <div class="form-group">
                <label for="confirmNewPassword">Підтвердження нового пароля:</label>
                <input type="password" class="form-control" id="confirmNewPassword" name="ConfirmNewPassword" placeholder="Підтвердіть новий пароль" required>
                <div id="confirmNewPasswordError" class="error-message"></div>
            </div>
            <div class="button-container">
                <button type="submit">Змінити пароль</button>
            </div>
        </form>
    </div>

    <button class="back-button" onclick="goBack()">&#10094;</button>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var newPasswordInput = document.getElementById('newPassword');
            var confirmNewPasswordInput = document.getElementById('confirmNewPassword');

            function validatePassword() {
                if (newPasswordInput.value.length < 8) {
                    document.getElementById('newPasswordError').textContent = 'Пароль повинен містити щонайменше 8 символів';
                } else {
                    document.getElementById('newPasswordError').textContent = '';
                }
            }

            newPasswordInput.addEventListener('input', validatePassword);

            confirmNewPasswordInput.addEventListener('input', function () {
                if (confirmNewPasswordInput.value !== newPasswordInput.value) {
                    document.getElementById('confirmNewPasswordError').textContent = 'Паролі не збігаються';
                } else {
                    document.getElementById('confirmNewPasswordError').textContent = '';
                }
            });
        });

        function goBack() {
            window.history.back();
        }

        var errorMessage = '@TempData["SuccessMessage"]';
        if (errorMessage !== 'null' && errorMessage !== '') {
            Swal.fire({
                icon: 'error',
                title: 'Упс...',
                text: errorMessage
            });
        }

        var successMessage = '@TempData["SuccessMessage"]';
        if (successMessage !== 'null' && successMessage !== '') {
            Swal.fire({
                icon: 'success',
                title: 'Успішно!',
                text: successMessage
            });
        }
    </script>

</body>
</html>
