@using Microsoft.AspNetCore.Identity
@using DataAccessLayer.Entities

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var currentPath = Context.Request.Path;
}

<!DOCTYPE html>
<html>
<head>
    <title>Barber Shop</title>
    <style>

         .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            z-index: 1;
            right: 0;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1; }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        header a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            font-size: 18.5px;
            margin: 0 10px;
        }

        header a:hover {
            color: #f5a742;
            /* text-decoration: underline;  */
        }


/*         main {
            padding: 0px;
        } */

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 7px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
    @* @Html.Partial("~/Views/Shared/_LoginPartial.cshtml") *@

    <header>
        <a href="/BarberShop/Index">BarberBook</a>

        @if (currentPath != null && !currentPath.StartsWithSegments("/Barbers"))
        {
            <a href="/Barbers/Index" style="margin: auto;">Наші барбери</a>
        }

        <div class="dropdown">
            <a href="#" style="margin: auto;">Увійти</a>
            <div class="dropdown-content">
                @* <a href="/Account/Login">Увійти</a>
                <a href="/Account/Register">Зареєструватись</a> *@

                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-area="Identity" asp-page="/Account/Manage/Index">Привіт @UserManager.GetUserName(User)!</a>
                    <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Вийти</a>
                }
                else
                {
                    <a asp-area="Identity" asp-page="/Account/Login">Увійти</a>
                    <a asp-area="Identity" asp-page="/Account/Register">Зареєструватись</a>
                }
            </div>
        </div>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer>
        &copy; 2024 - Barber Shop
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
