@model BarberLayered.Models.BarberShop

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>

    @Html.Partial("~/Views/ClientHome/ClientPartial.cshtml", Model)

    @Html.Partial("~/Views/BarberShop/BarberShopPartial.cshtml", Model)

</body>
</html>
