@model BarberLayered.Models.BarberShop

<!DOCTYPE html>
<html>
<head>
    <title>Client Home</title>

</head>
<body>

    @Html.Partial("~/Views/BarberShop/BarberShopPartial.cshtml", Model)

</body>
</html>